.search{
    /* background-color: rgb(3, 53, 3); */
    color:  #033503;
    border-color:  rgb(3, 53, 3);
    width: 60px;
    height:30px;
    margin-top: 2vw;
    margin-left: 2vw;
    border-radius: 0.3em 0.3em 0.3em 0.3em;

}
.form-control{
width:150px;
}
.select {
  margin-left: 2vw;
  height: 40px;
  width: 90px;
}
.selectb{
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
}

.rowRecipe{
  display: flex;
  flex-wrap: wrap;
}
.btn{

  border-color: rgb(3, 53, 3);
  color:rgb(3, 53, 3) ;
  margin-left: 2vw;
  height: 30px;
  width: 80px;
}
.btn:hover{
  background-color:rgb(3, 53, 3) ;
  color:white;
}
.list{
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
}