
<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h3 class="card-title mt-3 text-center h3">Edit Recipe</h3>


            <form [formGroup]="this.addForm" class="form">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">name</span>
                    </div>
                    <input name="" class="form-control" formControlName="nameRecipe" type="text" required>
                    <div>
                        <ng-container *ngIf="this.addForm.controls['nameRecipe'].errors as nameRecipeError">
                          <p class="err" *ngIf="nameRecipeError['required']">*this field is must!</p>
                        </ng-container>
                    </div>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">img </span>
                    </div>
                    <input name="" class="form-control" formControlName="urlImage" type="text" required>
                    <div>
                        <ng-container *ngIf="this.addForm.controls['urlImage'].errors as urlImageError">
                          <p class="err" *ngIf="urlImageError['required']">*this field is must!</p>
                        </ng-container>
                    </div>


                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">category </span>
                    </div>
                    <input name="" class="form-control" type="text" formControlName="categoryId" required>
                    <div>
                        <ng-container *ngIf="this.addForm.controls['categoryId'].errors as categoryIdError">
                          <p class="err" *ngIf="categoryIdError['required']">*this field is must!</p>
                        </ng-container>
                    </div>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">time </span>
                    </div>
                    <input name="" class="form-control" type="number" formControlName="preparationTime" required>
                    <div>
                        <ng-container *ngIf="this.addForm.controls['preparationTime'].errors as preparationTimeError">
                          <p class="err" *ngIf="preparationTimeError['required']">*this field is must!</p>
                        </ng-container>
                    </div>
                </div>
               <!-- List of Ingredients -->
<div formArrayName="listIngredients">
    <span class="input-group-text">listIngredients </span>
    <div *ngFor="let control of listIngredients.controls; let i = index">
      <input class="form-control" [formControlName]="i" placeholder="Ingredient {{ i + 1 }}">
    </div>
    
  </div>
  <button type="button" class="btn btn-primary add" (click)="onAddIngredient()">+</button>
  
  
    
  <div formArrayName="preparation">
    <!-- <div class="input-group-prepend"> -->
        <span class="input-group-text">Preparation </span>
    <div *ngFor="let control of preparationArray.controls; let i = index">
      <input class="form-control" [formControlName]="i" placeholder="Step {{ i + 1 }}">
     
    </div>
  </div>
    <!-- </div> -->

  <button type="button" class="btn btn-primary add" (click)="onAddPreparation()">+</button>
                  
                 
                <div class="form-group" id="buttons">
                    <button type="submit" class="btn btn-primary btn-block cencel"  (click)="cancel()"> Cancel </button>
                    <button type="submit" class="btn btn-primary btn-block save" (click)="save()" [disabled]="!this.addForm.valid"> Save changes </button>
                </div>
           
            </form>
        </article>
    </div>

</div>