<!-- <div class="col-sm-6 col-md-4 col-lg-3 mt-4"  > -->
  <div class="card card-inverse card-info">
      <img class="card-img-top" src={{selectedRecipe.urlImage}} class="imgbig">
      <div class="card-block">
          <figure class="profile profile-inline">
              <img src={{category?.urlImage}} class="profile-avatar" alt="">
          </figure>
         
          <h4 class="card-title">{{selectedRecipe.nameRecipe}}</h4>
          <div class="card-text">
           
             preparation time:
             <div class="col">{{selectedRecipe.preparationTime| time}}</div>
          </div>
          <div class="card-text" >
            Level of difficulty:
            <br/>
            <mat-icon *ngFor="let i of [].constructor(selectedRecipe.levelOfDifficulty); let index = index" class="icon">star</mat-icon>
          
        </div>
      </div>
      <div class="card-footer">
          <button class="btn btn-info btn-sm" id="bt" (click)="view()">To view the recipe</button>
      </div>
  </div>
<!-- </div> -->
